body {
    margin: 0px;
}

.avatar {
    width: 50px;
    height: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.mixtapeArt {
    aspect-ratio : 1 / 1;
    object-fit: cover;
    width: 100%;
    vertical-align: bottom;
}

.mixtapeCard {
    display: block;
    position: relative;
}

.mixtapeCardInfo {
    position: absolute;
    top: 16px;
    left: 16px;
}

.mixtapeCardTitle {
    font-size: 32px;
    color: white;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    max-width: fit-content;
}

.mixtapeCardUser {
    font-size: 16px;
    color: white;
    background-color: gray;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: fit-content;
}

.icon {
    width: 20px;
    height: 20px;
}
