body {
    margin: 0px;
    font-family: sans-serif;
    height: auto;
    /*background-color: black;*/
}

.lg-view {
    display: inline-block;
}

.sm-view {
    display:none;
}

@media screen and (max-width: 768px) {
    .lg-view{
       display: none;
    }

    .sm-view{
       display: inline-block;
    }
}

a {
    color: white;
}

.avatar {
    width: 50px;
    height: 50px;
    display: block;
}

.header {
    /*background-image: url("https://as2.ftcdn.net/v2/jpg/01/55/67/07/1000_F_155670713_Qz3dRx8IH91mkOLcOH7yAmn30BaW4KZK.jpg");*/
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    min-height: 50px
}

.pseudo.button {
    background-color: white;
    color: black;
}

.header-siteName {
    font-style: italic;
    padding-left: 10px;
}

.header-spacer {
    flex-grow: 1;
}

.header-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.header-username {
}

.header-userAvatar {
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.mixtapeArt {
    /*aspect-ratio : 1 / 1;*/
    object-fit: cover;
    height: 30%;
    width: 30%;
    vertical-align: bottom;
}

.mixtapeCard {
    display: flex;
    flex-flow: column nowrap;
    background-image: url("https://as2.ftcdn.net/v2/jpg/01/55/67/07/1000_F_155670713_Qz3dRx8IH91mkOLcOH7yAmn30BaW4KZK.jpg");
    background-position: center;
    background-size: cover;
    /*aspect-ratio : 2 / 1;*/
}

.mixtapeCardInfo {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.mixtapeCardTitle {
    font-size: 16px;
    color: white;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    max-width: fit-content;
}

.mixtapeCardUser {
    font-size: 16px;
    color: white;
    background-color: gray;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: fit-content;
}

.mixtapeCardSpacer {
    flex: 1;
}

.mixtapeCardTracks {
    font-size: 24px;
    color: white;
    background-color: black;
    max-width: fit-content;
    align-self: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 16px;
}

.mixtapeCardAudio {
    align-self: center;
    margin-bottom: 16px;
}

.mixtapeCardAudio audio {
    display: block;
}

.playIcon {
    font-size: 100px;
    background-color: white;
    padding: 5px;
    border: 5px solid black;
}

.mixtapeCardAudio audio {
    width: 290px;
}

.icon {
    width: 20px;
    height: 20px;
}
