body {
    margin: 0px;
    font-family: sans-serif;
}

.avatar {
    width: 50px;
    height: 50px;
    display: block;
}

.header {
    background-image: url("https://as2.ftcdn.net/v2/jpg/01/55/67/07/1000_F_155670713_Qz3dRx8IH91mkOLcOH7yAmn30BaW4KZK.jpg");
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    min-height: 50px
}

.header-siteName {
    padding-left: 10px;
}

.header-spacer {
    flex-grow: 1;
}

.header-username {
    padding-right: 10px;
}

.header-userAvatar {
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.mixtapeArt {
    aspect-ratio : 1 / 1;
    object-fit: cover;
    width: 100%;
    vertical-align: bottom;
}

.mixtapeCard {
    display: block;
    position: relative;
}

.mixtapeCardInfo {
    position: absolute;
    top: 16px;
    left: 16px;
}

.mixtapeCardTitle {
    font-size: 32px;
    color: white;
    background-color: black;
    padding-left: 5px;
    padding-right: 5px;
    max-width: fit-content;
}

.mixtapeCardUser {
    font-size: 16px;
    color: white;
    background-color: gray;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: fit-content;
}

.icon {
    width: 20px;
    height: 20px;
}
