{% extends 'base.html' %}
{% from 'macros.html' import big_user_avatar, mixtape_card %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="side-space newMixtapeForm">
        <h1>{{ user['username'] }}</h1>
        {{ big_user_avatar(user['username'], user['avatar']) }}
        {% if g.user['id'] == user['id'] %}
            <form method="post" enctype="multipart/form-data">
                <label for="file">Avatar:</label>
                <input type ="file" name="avatar" id="avatar" accept="image/*">{{ request.form['avatar'] }}</textarea>
                <input type="submit" value="Upload">
          </form>
        {% endif %}

        {% if mixtapes %}
        <article class="userStats card">
            <footer style="padding-top: 20px;">
            {% if complete_mixtapes %}
            <i class="fa-solid fa-headphones statsIcon"></i>
            <span class="statsIconLabel">COMPLETED</span>
                <ul>
                {% for mixtape in complete_mixtapes %}
                    <li style="padding-right: 25px">
                        <a class="userStat" href="{{ url_for('mixtape.view', url=mixtape['url']) }}">
                            {{ mixtape['title'] }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if unfinished_mixtapes %}
                <i class="fa-solid fa-hammer statsIcon"></i>
                <span class="statsIconLabel">UNFINISHED</span>
                <ul>
                {% for mixtape in unfinished_mixtapes %}
                    <li style="padding-right: 25px">
                        <a class="userStat" href="{{ url_for('mixtape.view', url=mixtape['url']) }}">
                            {{ mixtape['title'] }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% if favorites %}
                <i class="fa-solid fa-heart statsIcon"></i>
                <span class="statsIconLabel">FAVORITES</span>
                <ul>
                {% for mixtape in favorites %}
                    <li style="padding-right: 25px">
                        <a class="userStat" href="{{ url_for('mixtape.view', url=mixtape['url']) }}">
                            {{ mixtape['title'] }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            </footer>
        </article>
        {% endif %}

        {% if g.user['id'] == user['id'] %}
            <a class="pseudo button logout" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% endif %}
    </div>
{% endblock %}

