{% extends 'base.html' %}
{% from 'macros.html' import big_user_avatar %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="side-space newMixtapeForm">
        <h1>{{ user['username'] }}</h1>
        {{ big_user_avatar(g.user['username'], g.user['avatar']) }}
        {% if g.user['id'] == user['id'] %}
            <form method="post" enctype="multipart/form-data">
                <label for="file">Avatar:</label>
                <input type ="file" name="avatar" id="avatar" accept="image/*">{{ request.form['avatar'] }}</textarea>
                <input type="submit" value="Upload">
          </form>
        {% endif %}
        {% if g.user['id'] == user['id'] %}
            <a class="pseudo button" href="{{ url_for('auth.logout') }}">Log Out</a>
        {% endif %}
    </div>
{% endblock %}

