{% extends 'base.html' %}

{% block content %}
    <div class="side-space newMixtapeForm">
        <h1>NEW MIXTAPE</h1>
        <h4><span class="requiredAsterix">*</span> indicates required field</h4>
        <form method="post" enctype="multipart/form-data">
            <label for="title"><span class="requiredAsterix">*</span> Title</label>
            <input name="title" id="title" maxlength="{{ MAX_MIXTAPE_TITLE_LENGTH }}" ><br>
            <label for="body">Description</label>
            <textarea name="body" id="body" maxlength="{{ MAX_MIXTAPE_DESCRIPTION_LENGTH }}"></textarea><br>
            <label for="file"><span class="requiredAsterix">*</span> Art</label><br>
            <input class="" type="file" name="art" id="art" accept="image/*" >
            <div class="hideMixtapeCheckbox">
                <div>
                <label>
                    <input name="isPublic" type="checkbox">
                    <span class="checkable"></span>
                </label>
                </div>
                <div style="padding-top: 2px">Allow anyone to add tracks</div>
            </div>
            <input class="newMixtapeButton" type="submit" value="Save">
        </form>
    </div>
{% endblock %}
