{% extends 'base.html' %}

{% block content %}
    <div class="side-space newMixtapeForm">
        <h1>EDIT MIXTAPE</h1>
        <h4><span class="requiredAsterix">*</span> indicates required field</h4>
        <form method="post" enctype="multipart/form-data">
            <label for="title"><span class="requiredAsterix">*</span> Title</label>
            <input name="title" id="title" maxlength="{{ MAX_MIXTAPE_TITLE_LENGTH }}" value="{{ mixtape['title'] }}" ><br>
            <label for="body">Description</label>
            <textarea name="body" id="body" maxlength="{{ MAX_MIXTAPE_DESCRIPTION_LENGTH }}">{{ mixtape['body'] }}</textarea><br>
            <label for="file"><span class="requiredAsterix">*</span> Art</label><br>
            <input class="" type="file" name="art" id="art" accept="image/*" >
            <div class="hideMixtapeCheckbox">
                <div>
                <label>
                    {% if mixtape['hidden'] %}
                        <input name="isPublic" type="checkbox">
                    {% else %}
                        <input name="isPublic" type="checkbox" checked>
                    {% endif %}
                    <span class="checkable"></span>
                </label>
                </div>
                {% if mixtape['locked'] %}
                    <div style="padding-top: 2px">Show on front page</div>
                {% else %}
                    <div style="padding-top: 2px">Allow anyone to add tracks</div>
                {% endif %}
            </div>
            <input class="newMixtapeButton" type="submit" value="Save">
        </form>
            <hr style="width: 300px">
        <form class="deleteMixtapeForm" method="post">
            <input class="deleteMixtapeButton error" name="deleteMixtape" type="submit" value="Delete mixtape" onclick="return confirm('Are you sure?');">
        </form>
    </div>
{% endblock %}

