{% extends 'base.html' %}
{% from 'macros.html' import user_card %}

{% block header %}
    <h1>{% block title %}Mixtapes{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('mixtape.create') }}">Create New Mixtape</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for mixtape in mixtapes %}
        <article class="mixtape">
            <header>
                <div>
                    <h1><a href="{{ url_for('mixtape.view', url=mixtape['url']) }}">{{ mixtape['title'] }}</a></h1>
                    {% if mixtape['art'] %}
                        <img class="mixtapeArt" src="{{ url_for('static', filename='/mixtape_art/' + mixtape['art']) }}"/>
                    {% endif %}
                    {{ mixtape['track_count'] }} tracks
                    <div class="about">by {{ user_card(mixtape['username'], mixtape['avatar']) }} on {{ mixtape['created'].strftime('%Y-%m-%d') }}</div>
                </div>
            </header>
            <p class="body">{{ mixtape['body'] }}</p>
        </article>
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}
