{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ mixtape['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or mixtape['title'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or mixtape['body'] }}</textarea>
    <label for="file">Art:</label><br>
    <input type ="file" name="art" id="art" accept="image/*">{{ request.form['art'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('mixtape.delete', id=mixtape['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
