{% extends 'base.html' %}
{% from 'macros.html' import user_card, mixtape_card %}

{% block content %}
    <div class="mixtapeView">
        <div class="mixtapeCardView">
            {{ mixtape_card(mixtape, max_tracks) }}
        </div>
        <div class="mixtapeDetails">
            {% if mixtape['author_id'] == g.user['id'] %}
                <a class="editMixtapeButton pseudo button" href="{{ url_for('mixtape.edit', url=mixtape['url']) }}">Edit Mixtape</a>
            {% endif %}
            {% if mixtape['body'] %}
                <div class="mixtapeDescription">{{ mixtape['body'] }}</div>
            {% endif %}
            {% if g.user and not mixtape['locked'] %}
                <form class="addToMixtape card" method="post">
                    <header>
                        Add to mixtape:
                    </header>
                    <footer>
                        <input name="youtubeUrl" id="youtubeUrl" placeholder="youtube.com/watch?v=3__0ulE2UDo" required>
                        <input name="trackBody" id="trackBody" placeholder="Comment" maxlength="{{ MAX_TRACK_DESCRIPTION_LENGTH }}">
                        {% if one_track_from_full %}
                            <input class="warning" type="submit" value="Add final track" onclick="return confirm('Are you sure?');">
                        {% else %}
                            <input type="submit" value="Add track">
                        {% endif %}
                    </footer>
                </form>
            {% endif %}
            <div>
        </div>
    </div>
    <div class="mixtapeTracks">
        {% for track in tracks %}
            <div class="mixtapeTrack">
                <div class="mixtapeTrackTitle">
                    <span>Track # {{ loop.index }}</span><br>
                </div>
                <iframe frameborder="0" src="https://www.youtube.com/embed/{{ track['youtube_id'] }}"></iframe>
                <div class="about">
                    <span>added by {{ track['username'] }}</span>
                    {% if g.user and not mixtape['locked'] and (mixtape['author_id'] == g.user['id'] or track['author_id'] == g.user['id']) %}
                        <form method="post">
                            <input class="error" name="deleteTrack" type="submit" value="Delete track">
                            <input name="trackId" value="{{ track['id'] }}" hidden>
                        </form>
                    {% endif %}
                </div>
            </div>
            <p class="trackDescription">{{ track['body'] }}</p>
        {% endfor%}
    </div>
{% endblock %}

