{% extends 'base.html' %}
{% from 'macros.html' import user_avatar, user_name, user_card, mixtape_card %}

{% block content %}
    <meta property="og:type" content="music.song" />
    <meta property="og:title" content="{{ mixtape['title'] }}" />
    <meta property="og:url" content="{{ url_for('mixtape.view', url=mixtape['url']) }}">
    <meta property="og:image" content="{{ url_for('static', filename='/mixtape_art/' + mixtape['art']) }}" />
    <meta property="og:description" content="{{ mixtape['body'] }}" />
    <meta property="og:audio" content=""{{ url_for('mixtape.download', url=mixtape['url']) }} />
    <meta property="og:site_name" content="mixtape garden 🌱" />

    <div class="mixtapeView">
        <div class="mixtapeCardView">
            {{ mixtape_card(mixtape, max_tracks) }}
        </div>
        <div class="mixtapeDetails">
            {% if mixtape['body'] %}
                <div class="mixtapeDescription">{{ mixtape['body'] }}</div>
            {% endif %}
            {% if mixtape['author_id'] == g.user['id'] or g.user['is_admin'] %}
                <a class="editMixtapeButton pseudo button" href="{{ url_for('mixtape.edit', url=mixtape['url']) }}"><i class="fas fa-edit"></i> Edit Mixtape</a>
            {% endif %}
            {% if mixtape['converted'] %}
                <a class="downloadMixtapeButton pseudo button" href="{{ url_for('mixtape.download', url=mixtape['url']) }}"><i class="fa-solid fa-download"></i> Download as MP3</a>
            {% endif %}
            {% if g.user and not mixtape['locked'] %}
                <form class="addToMixtape card" method="post">
                    <header>
                        Add to mixtape:<br>
                    </header>
                        <span class="premiumnote"><i class="fa-solid fa-exclamation-circle"></i> Do not use YouTube Premium videos!</span>
                    <footer>
                        <input style="padding-top: 5px;" name="youtubeUrl" id="youtubeUrl" placeholder="youtube.com/watch?v=3__0ulE2UDo" required>
                        <input name="trackBody" id="trackBody" placeholder="Comment" maxlength="{{ MAX_TRACK_DESCRIPTION_LENGTH }}">
                        {% if one_track_from_full %}
                            <input class="warning" type="submit" value="Add final track" onclick="return confirm('Are you sure?');">
                        {% else %}
                            <input type="submit" value="Add track">
                        {% endif %}
                    </footer>
                </form>
            {% endif %}
            <div>
        </div>
    </div>
    <div class="mixtapeTracks">
        {% for track in tracks %}
            <div class="mixtapeTrack">
                <div class="mixtapeTrackTitle">
                    <span>Track # {{ loop.index }}</span><br>
                </div>
                <iframe frameborder="0" src="https://www.youtube.com/embed/{{ track['youtube_id'] }}"></iframe>
                    <div class="trackAuthorCard">
                        {{ user_avatar(track['username'], track['avatar']) }}
                        <span class="trackAuthorCardName">{{ user_name(track['username']) }} on {{ track['created'].strftime('%b %d, %Y') }}</span>
                        {% if g.user and not mixtape['locked'] and (track['author_id'] == g.user['id'] or g.user['is_admin']) %}
                            <form method="post">
                                <input class="error" name="deleteTrack" type="submit" value="Delete track">
                                <input name="trackId" value="{{ track['id'] }}" hidden>
                            </form>
                        {% endif %}
                    </div>
            </div>
            <p class="trackDescription">{{ track['body'] }}</p>
        {% endfor%}
    </div>
{% endblock %}

