{% extends 'base.html' %}
{% from 'macros.html' import big_user_avatar %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="side-space">
        <br>
        <span style="color: lightgreen">mixtape garden</span> is a site for making mixtapes together! Here's how to use it:
        <ol>
            <li>Make an account and log in</li>
            <li>Make a new mixtape</li>
            <li>Add <span style="color: lightgreen">seven</span> YouTube videos to your mixtape</li>
        </ol>
        Once it's full, your mixtape will be automatically converted into a single, crossfaded mp3 that can be streamed or downloaded!
        <br>
    </div>
{% endblock %}

