{% extends 'base.html' %}
{% from 'macros.html' import big_user_avatar %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="side-space">
        <br>
        <span style="color: lightgreen">mixtape garden</span> is a site for making mixtapes together! Here's how to use it:
        <ol>
            <li>Make an account and log in</li>
            <li>Make a new mixtape</li>
            <li>You and other users add <span style="color: lightgreen">seven</span> YouTube videos to the mixtape</li>
        </ol>
        Once it's full, your mixtape will be automatically converted into a single, crossfaded mp3 that can be streamed or downloaded!
        <br><br>
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> TIP:
        If you'd prefer to make a mixtape without other people contributing, check <b>Hide from frontpage</b> when you create it! You can change this setting anytime by going to <b>Edit Mixtape</b> on the mixtape's page.
        <br>
    </div>
{% endblock %}

