{% from 'macros.html' import user_card, site_header, site_footer %}

<!doctype html>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌱</text></svg>">
<title>{% block title %}{% endblock %}mixtape garden</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{{ site_header() }}
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>

  {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="flash {{ category }}"><i class="fa-solid fa-circle-exclamation"></i> {{ message }}</div>
  {% endfor %}


  {% block content %}{% endblock %}

  {{ site_footer() }}
</section>
