{% extends 'base.html' %}
{% from 'macros.html' import big_user_avatar %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="side-space">
        <br>
        Hello! This is <a href="https://bsky.app/profile/brlka.com" style="color: lightgreen">Toby</a>, the creator of mixtape garden. 
        <br><br>
        YouTube has been cracking down on automated downloads, which means mixtape garden can't convert videos into tapes anymore. I considered rewriting it to pull from a different source like SoundCloud or Bandcamp, but decided neither were sufficient for the goals I had for it.
        <br><br>
        I'm putting the website in archive mode indefinitely - all of the existing tapes will remain where they are, you just won't be able to make new ones. I'm also releasing the source code for the site <a href="https://github.com/tobyalden/dockerized-mixtaper/" style="color: lightgreen">here</a>, in case anyone wants to make their own spin-off.
        <br><br>
        Finally, thank you to everyone who contributed mixtapes, shared the site, and listened to music on it. It means a lot to me! I plan on making more music-sharing sites soon, so stay tuned.
        <br><br>
        <a href="https://youtu.be/2-hKtCCgIMw" style="color: lightgreen">Till next time...</a>
    </div>
{% endblock %}


